# Sudo Permission
sudo: required

# Services (Docker CLI)
services:
  - docker

# Build docker image
before_install:
  - docker build -t sathishcodes/docker-react -f Dockerfile.dev .

# Run Test Suite
script:
  - docker run -e CI=true sathishcodes/docker-react npm run test
